@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 15rem;
    scrollbar-color: v.$secundario v.$blanco;
    scrollbar-width: none;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;

    &.overflow-hidden {
        overflow: hidden;
    }
}
a {
    text-decoration: none;
    color: v.$primario;
}
h1, h2, h3 {
    color: v.$primarioOscuro;
    font-weight: bold;
}

h1 { font-size: 2rem; }

h2 { font-size: 2.5rem; }

h3 { font-size: 1.5rem; margin: 0 0 2rem 0; }

@include m.tablet {
    h1 { font-size: 4rem; }

    h2 { font-size: 5rem; }

    h3 { font-size: 3rem; margin: 0 0 2rem 0; }
}

img { max-width: 100%; }

p { margin: 0 0 0.5rem 0; }

.no-margin { margin: 0; }

.no-padding { padding: 0; }

.texto-centrado{ text-align: center; }

.boton {
    padding: 1.3rem 2rem;
    background-color: v.$primario;
    border-radius: 1.5rem;
    color: v.$blanco;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.espacio { margin-top: 10rem; }

.contenedor {
    margin: 0 auto;
    width: min(90%, 120rem);
}

.viaje > section {
    padding-bottom: 2rem;
}

section:first-child {
    margin-top: 0;
}

section:last-child {
    padding-bottom: 0;
}

.formulario {
    padding: 0 0 2rem 0;

    &.crud {
        width: 100%;
        padding: 2rem;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow:  20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    }
    
    p {
        font-size: 1.4rem;
        color: v.$grisOscuro;
        margin: 2rem 0 0 0;
    }

    fieldset {
        border: none;
        padding: 0;

        legend {
            padding-bottom: 2rem;
        }
    }

    legend {
        font-size: 2rem;
        color: v.$grisOscuro;
    }

    label {
        font-weight: bold;
        text-transform: uppercase;
        display: block;
    }
    input:not([type="submit"]), 
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: v.$blanco;
        border: 1px solid v.$gris;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    textarea {
        height: 20rem;
    }

    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input[type="radio"] {
        margin: 0;
        width: auto;
    }
}

button {
    &.boton.array {
        margin-bottom: 2rem;
    }

    &:hover {
        cursor: pointer;
    }
}