@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin contenedor-mini {
    width: 40%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas : 1, $gap : 3rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin boton($bgColor, $display ) {
    background-color: $bgColor;
    color: v.$blanco;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(3rem / 2);
    display: $display;
    border: none;

    &:hover {
        cursor: pointer;
    }
}