// Fuente
$fuente_principal : 'Open Sans', sans-serif;

// Colores
$primario: #6D9773;
$primarioOscuro: #0C3B2E;
$secundario: #FFBA00;
$gris: #E1E1E1;
$blanco: #FFFFFF;
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$gris: #E1E1E1;
$grisOscuro: #333333;
$rojo: #CA2727;
$azul: #5959f5;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;