@use 'base/variables' as v;
@use 'base/mixins' as m;

.catalogo {
    min-height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalogos {


    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
    }
}

.catalogos__img {
    border-radius: 1rem;
    margin: auto 0;
    grid-column: 1 /2;
}

.catalogo__contenido {
    font-size: 2rem;
    grid-column: 2 / 5;
}


.contenido__enlace {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-decoration: none;
    }

    @include m.resetear-lista;
}

.lista {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;

    i { margin: 0.5rem 0.5rem 0 0; }
}

.lista:last-of-type {
    margin: 0;
}

.link {
    text-decoration: underline;
    color: v.$secundario;
    float: right;
    font-weight: bold;
}