@use 'base/variables' as v;
@use 'base/mixins' as m;

.webp .contenido{
    background-image: url(/build/img/bannera.webp);
}
.no-webp .contenido {
    background-image: url(/build/img/bannera.jpg);
}

.contenido {
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 98.5%;
    border-radius: 2rem;
    margin: 0 auto;

    @include m.tablet {
        height: 100%;
    }
}

.contenido__principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: v.$blanco;
    height: 50vh;
    width: 60%;
    padding-left: 5rem;

    @include m.tablet {
        width: 60%;
        margin: 0;
        height: 80vh;

        .p1, .p2 {
            margin: 2rem 0;
        }
    }

    .p1 {
        font-size: 3rem;
        @include m.tablet {
            font-size: 8rem;
        }
    }
    
    .p2 {
        font-size: 1rem;
        @include m.tablet {
            font-size: 4rem;
        }
    }
}