@use 'base/variables' as v;
@use 'base/mixins' as m;

.alertas {
    padding: 1rem 0;
    display: hidden;
}

.alerta {
    color: v.$blanco;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    text-transform: uppercase;
    text-align: center;

    &.error { background-color: v.$rojo; }

    &.exito { background-color: v.$verde; }
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}

.viajes {
    margin-top: 4rem;
    border-spacing: 0;
    border-radius: 2rem;
    background: v.$blanco;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    overflow: hidden;

    table {
        width: 100%;

        thead {

            th {
                color: v.$blanco;
                padding: 2rem;
                text-align: left;
                background-color: v.$primarioOscuro;
            }
        }
    
        tbody {
            td {
                padding: 1.5rem 2rem;
                height: 100%;
            }

            .tabla-crud {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 2rem;
                margin: 3rem 0;

                form { margin: 0; }
            }
        }

        .actualizar, .eliminar {
            background: #f0f0f0;
        }
    
        .imagen-tabla {
            width: 10rem;
            height: 10rem;
            background-size: cover;
            border-radius: 0.8rem;
        }
    }
}

.imagen-sm {
    width: 20rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}